In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
# basic calculator 

def basic_calc(loan,interest,term):
    
    '''loan is the mortgage, intetest is the % rate eg 3.3% which must be divided by 100
        the term is the number of years the mortgage is over
        
        note: the output of this formula was tested against leading uk results and matched using 
        the same input data'''
    
    r = (interest/100)/12 
    p = loan
    n = term*12

    result = p*((r*np.power(1+r,n))/(np.power(1+r,n)-1))

    return result

In [19]:
basic_calc(350000,3.3,25)

1714.8654830497117

In [13]:
# calculate how much interest

# total payments inc interest
total_payments = 25*12*basic_calc(350000,3.3,25)
loan = 350000
interest_paid = total_payments - loan
print(total_payments, interest_paid)

514459.6449149135 164459.64491491352

In [20]:
monthly_repayments = basic_calc(350000,3.3,25)

In [21]:
def basic_calc_interest(loan,monthly_payment,term):
    total_payments = term*12*monthly_payment
    interest_paid = total_payments - loan
    return interest_paid

In [23]:
basic_calc_interest(350000,monthly_repayments,25)

164459.64491491352

In [40]:
def mortgage_calcuator(loan,interest,term,repayment=True):
    
    '''output matches moneysaving expert'''
    
    if repayment == True:
        
        monthly_repayments = basic_calc(loan,interest,term)
        total_interest = basic_calc_interest(loan,monthly_repayments,term)
        return [monthly_repayments,total_interest]
    
    else:
        
        annual_interest = (interest/100)*loan
        monthly_interest = annual_interest/12
        total_interest = term*12*monthly_interest
        
        return [monthly_interest,total_interest]

In [41]:
mortgage_calcuator(350000,3.3,25)

[1714.8654830497117, 164459.64491491352]

In [42]:
mortgage_calcuator(350000,3.3,25,repayment=False)

[962.5, 288750.0]

In [92]:
# fixed monthly payment
a = basic_calc(350000,3.3,25)

In [93]:
a

1714.8654830497117

In [112]:
# monthly interest rate ratio
r = 1 + (0.033/12)
i = 24 # first month = 1
p = 350000 # principal loan

In [113]:
print(r,i,p)

1.00275 24 350000

In [114]:
# note the 962.5 from above
# interest only
p*r

350962.5

In [115]:
(a*(1-r**i))/(1-r)-(p*(r**i))

-331360.49881453067

In [89]:
a

500169.09922283253

In [127]:
def loan_remaining(interest,month_i,loan,term):
    
    a = basic_calc(loan,interest,term)
    r = 1 + ((interest/100)/12)
    i = month_i
    p = loan
    
    output = -1*((a*(1-r**i))/(1-r)-(p*(r**i)))
    
    return output

In [131]:
loan_remaining(3.3,12,350000,25)

340833.800340778

In [171]:
term = 25

monthly_outstanding = []
periods = []

for i in range(term*12+1):
    periods.append(i)
    monthly_outstanding.append(round(loan_remaining(3.3,i,350000,25),2))

In [172]:
df = pd.DataFrame()
df['periods'] = periods
df['outstanding balance'] = monthly_outstanding

In [173]:
df

     periods  outstanding balance
0          0            350000.00
1          1            349247.63
2          2            348493.20
3          3            347736.69
4          4            346978.10
..       ...                  ...
296      296              6812.56
297      297              5116.43
298      298              3415.64
299      299              1710.16
300      300                 0.00

[301 rows x 2 columns]